html, body {
  margin:0px;
  height:100%;
}

img {
  border: 3px solid#dfdddf;
  border-radius: 10px;
}

.scroll-page {
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-color: #2b2d41;
}


.scroll-page-odd {
  background-color: #dfda92;
  color: #2b2d41;
}

ul {
  margin: 30px;
  padding: 5px;
}

.scroll-page-odd li {
  color: #2b2d41;
}

.scroll-page-odd h1 {
  padding-top: 30px;
  color: #208388;
}

h1 {
  margin: auto;
  width: 100%;
  font-weight: 900;
  color: #00d4b8;
  text-align: center;
}

#about-me-p {
  margin: auto;
  padding: 10px 0;
  width: 35%;
  text-align: justify;
}


.three-wide-div-container {
  height: 500px;
  width: fit-content;
  margin: auto;
  padding: 10px 10px;

}

.image-container {
  width: auto;
  height: 100%;
  text-align: center;
  display: inline-block;
  align-items: center;
  object-fit: cover;
  padding: 10px 10px;
}

.image-container img {
  object-fit: cover;
  display: inline-block;
  width: auto;
  height: 100%;
  text-align: center;
}

.mac-container {
  height: 500px;
  width: fit-content;
  margin: auto;
  padding: 10px 10px;
}

#mac-pic {
  height: auto;
  width: auto;
  margin: auto;
  align-items: center;
}